<div class="row">
  <div class="col-6">
    <div class="card">
      <app-donut [titleChart]='d1Title' [labelsChart]='d1Labels' [dataChart]='d1Data'></app-donut>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-donut [titleChart]='d2Title' [labelsChart]='d2Labels' [dataChart]='d2Data'></app-donut>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <app-donut [titleChart]='d3Title' [labelsChart]='d3Labels' [dataChart]='d3Data'></app-donut>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-donut [titleChart]='d4Title' [labelsChart]='d4Labels' [dataChart]='d4Data'></app-donut>
    </div>
  </div>
</div>